.user_container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .buttons{
        .btn{
            all: unset;
            color: white;
            padding: 5px;
            border-radius: 8px;
            &:hover{
                cursor: pointer;
            }
        }
        .red{
            margin-left: .5rem;
            background-color: #F64740;
        }
        .norm{
            background-color: dodgerblue;
        }
    }
}